<p>
  settings works!
</p>
<!--another form is   -->

<div class="grid p-fluid">
  <div class="col-12 md:col-6">

  </div>

  <div class="col-12 md:col-6">
  </div>
  <!-- this iextr tag iam added -->
  <div class="col-12">
      <div class="card">
          <h5>InputGroup</h5>

          <div class="grid">
              <div class="col-12 md:col-6">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-name"></i></span>
                      <input type="text" pInputText placeholder="Name">
                  </div>
              </div>
              <div class="col-12 md:col-6">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-description"></i></span>
                      <input type="text" pInputText placeholder="Description">
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>