<div class="grid">
  <div class="col-12">
    <div class="card">
      <form #createClientForm="ngForm">
        <div class="p-fluid p-formgrid grid">
          <!-- Client details -->
          <div class="field col-12 md:col-6">
            <label for="companyName">Company Name<span [style.display]="client.companyName ? 'none' : 'inline'" style="color: red">*</span></label>
            <input pInputText id="companyName" name="companyName" type="text" ngModel required
              placeholder="Enter Client Name" [(ngModel)]="client.companyName" required #companyName="ngModel" />
            <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)">
              <div style="color: red" *ngIf="companyName.errors">Company Name is required </div>
            </div>
          </div>   
          
          <div class="field col-12 md:col-6">
            <label for="location">Location<span [style.display]="client.location ? 'none' : 'inline'" style="color: red">*</span></label>
            <input pInputText id="location" name="location" type="text" ngModel required placeholder="Enter Location"
              [(ngModel)]="client.location" required #location="ngModel" />
            <div *ngIf="location.invalid && (location.dirty || location.touched)">
              <div style="color: red" *ngIf="location.errors">Client Location is required </div>
            </div>
          </div>

          <h6>POC Details:</h6>
          <div class="field col-12 md:col-6">

          </div>
          <!-- <div class="field col-12 md:col-6"></div> -->
          <div class="field col-12 md:col-6">
            <label for="name">Name<span [style.display]="pointToContact.name ? 'none' : 'inline'" style="color: red">*</span></label>
            <input pInputText id="name" name="name" type="text" placeholder="Enter POC Name"
              [(ngModel)]="pointToContact.name" #name="ngModel" />
          </div>
          <div class="field col-12 md:col-6">
            <label for="mobile">Mobile<span [style.display]="pointToContact.mobile ? 'none' : 'inline'" style="color: red">*</span></label>
            <input pInputText id="mobile" name="mobile" type="text" placeholder="Enter Mobile Number"
              [(ngModel)]="pointToContact.mobile"  pattern="[0-9]*" #mobile="ngModel" />
          </div>
          <div class="field col-12 md:col-6">
            <label for="email">Email<span [style.display]="pointToContact.email ? 'none' : 'inline'" style="color: red">*</span></label>
            <input pInputText id="email" name="email" type="email" placeholder="Enter Email"
              [(ngModel)]="pointToContact.email"  email #email="ngModel" />
          </div>
          <div class="field col-12 md:col-6"></div>
          <!-- Submit button -->
          <div class="field col-12 md:col-6">
            <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-plus" (click)="submitPocs()"
              label="Add Poc"></button>
          </div>
        </div>
        <!-- Education table -->



        <div *ngIf="pointToContacts.length > 0">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>MobileNo</th>
                <th>EmailId</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                                        let edu of  pointToContacts;
                                        let i = index
                                    ">
                <td>{{ edu.name}}</td>
                <td>{{ edu.mobile}}</td>
                <td>{{ edu.email}}</td>

                <td>
                  <div class="button-container">
                    <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" (click)="EditPoc(i)"
                      icon="pi pi-pencil"></button>
                    <button pButton class="p-button-sm p-button-rounded p-button-danger" (click)="deletePoc(i)"
                      icon="pi pi-trash"></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
        <div class="ui-g-12" style="text-align: right">
          <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
          <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check" (click)="addClient()"
          [disabled]="!createClientForm.valid" label="Save"></button>
          <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
            routerLink="/client" label="Cancel"></button>
        </div>
      </form>
    </div>
  </div>
</div>