<div class="card">
  <p-table #dt [value]="clients" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
      [globalFilterFields]="['name','contactPocs','location']">
      <ng-template pTemplate="caption">
          <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
              <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
              </span>
              <button (click)="navigateToCreateClient()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus" label="Add New"></button>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="name" class="white-space-nowrap" style="width:25%">Name<p-sortIcon field="client.name"></p-sortIcon></th>
              <th pSortableColumn="contactPocs" class="white-space-nowrap" style="width:25%">ContactPocsName<p-sortIcon field="client.contactPocs.name"></p-sortIcon></th>
              <th pSortableColumn="contactPocs" class="white-space-nowrap" style="width:25%">ContactPocsMobileNo<p-sortIcon field="client.contactPocs.mobileNo"></p-sortIcon></th>
              
              <th pSortableColumn="location" class="white-space-nowrap" style="width:25%">location<p-sortIcon field="client.location"></p-sortIcon></th>
              <th class="white-space-nowrap" style="width:20%">Modify</th>

              
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-client>
          <tr>
              <td>{{client.companyName}}</td>
              <td>
                <ul>
                    <li *ngFor="let contact of client.pocs">{{ contact.name }}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li *ngFor="let contact of client.pocs">{{ contact.mobile }}</li>
                </ul>
            </td>
              <td>{{client.location}}</td>
              <td>
                  <div class="button-container">
                      <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" (click)="handleEditclient(client,client.id)" icon="pi pi-pencil"></button>
                      <button pButton class="p-button-sm p-button-rounded p-button-danger" (click)="clientDelete(client)" icon="pi pi-trash"></button>
                  </div>                    
              </td>

      </ng-template>
  </p-table>
</div>