<div class="grid">
    <div class="col-12">
        <div class="card">
            <form #jobForm="ngForm">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="title">Title</label>
                        <input pInputText id="title" name="title" type="text" ngModel required minlength="2" maxlength="50" placeholder="Enter Title"
                        [(ngModel)]="job.title" required #title="ngModel"/>
                        <div *ngIf="title.invalid && (title.dirty || title.touched)">
                            <div style="color: red" *ngIf="title.errors">Title is required </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="description">Description</label>
                        <textarea pInputText id="description" name="description" type="text" ngModel required minlength="2" maxlength="100" placeholder="Enter Description"
                        [(ngModel)]="job.description" required #description="ngModel"></textarea>
                        <div *ngIf="description.invalid && (description.dirty || description.touched)">
                            <div style="color: red" *ngIf="description.errors">Description is required </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 field">
                        <label for="description">Description</label>
                        <p-editor id="description" [(ngModel)]="job.description" [style]="{'height':'250px'}" name="description" placeholder="Enter Description" #description="ngModel" required></p-editor>
                        <div *ngIf="description.invalid && (description.dirty || description.touched)">
                            <div style="color: red" *ngIf="description.errors">Description is required </div>
                        </div>
                    </div> -->

                    <div class="field col-12 md:col-6">
                        <label for="department">Department</label>
                        <p-dropdown [options]="departments" [(ngModel)]="selectedDepartments" [showClear]="true" [filter]="true" placeholder="Select Department" (onChange)="onDepartmentChange(selectedDepartments)" name="department" optionLabel="name">
                            <ng-template let-Department pTemplate="item">
                                {{ Department.name }}
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="clients">ClientName</label>
                        <p-dropdown [options]="clients" [(ngModel)]="selectedClients" [showClear]="true" [filter]="true" placeholder="Select ClientName" (onChange)="onClientChange(selectedClients)" name="client" optionLabel="companyName">
                            <ng-template let-Client pTemplate="item">
                                {{ Client.companyName }}
                            </ng-template>
                        </p-dropdown>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="openings">Openings</label>
                        <input pInputText id="openings" name="openings" type="number" ngModel required min="1" placeholder="Enter openings"
                        [(ngModel)]="job.openings"  #openings="ngModel">
                        <div *ngIf="openings.invalid && (openings.dirty || openings.touched)">
                            <div style="color: red" *ngIf="openings.errors">Openings is required </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="targetHireDate">Target Hire Date</label>
                        <input pInputText id="targetHireDate" name="targetHireDate" type="date" [(ngModel)]="job.targetHireDate"  #targetHireDate="ngModel" required>
                        <div *ngIf="targetHireDate.invalid && (targetHireDate.dirty || targetHireDate.touched)">
                            <div style="color: red" *ngIf="targetHireDate.errors">TargetHireDate is required </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="currency">Currency</label>
                        <p-dropdown [options]="currencys" [(ngModel)]="selectedCurrencys" [showClear]="true" [filter]="true" placeholder="Select Currency" (onChange)="onCurrencyChange(selectedCurrencys)" name="currency" optionLabel="name">
                        </p-dropdown>
                    </div>


                    <!-- <div class="field col-12 md:col-6">
                        <label for="salaryMinimum">Salary Minimum</label>
                        <input pInputText id="salaryMinimum" name="salaryMinimum" type="number" required min="0" placeholder="Enter Min salary" [(ngModel)]="job.salaryMinimum"  #salaryMinimum="ngModel">
                        <div *ngIf="salaryMinimum.invalid && (salaryMinimum.dirty || salaryMinimum.touched)">
                            <div style="color: red" *ngIf="salaryMinimum.errors">Openings is required </div>
                        </div>
                    </div> -->
                    <div class="field col-12 md:col-6">
                        <label for="salaryMaximum">Salary Maximun</label>
                        <input pInputText id="salaryMaximum" name="salaryMaximum" type="number" required min="0" placeholder="Enter Max salary" [(ngModel)]="job.salaryMaximum"  #salaryMaximum="ngModel">
                        <div *ngIf="salaryMaximum.invalid && (salaryMaximum.dirty || salaryMaximum.touched)">
                            <div style="color: red" *ngIf="salaryMaximum.errors">Openings is required </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="type">Job Type</label>
                        <p-dropdown [options]="types" [(ngModel)]="job.type" #type="ngModel" [showClear]="true" [filter]="true" placeholder="Select Job Type"
                        name="type" optionLabel="name" optionValue="name">
                    </p-dropdown>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="location">Location</label>
                        <input pInputText id="location" name="location" type="text" ngModel placeholder="Enter Location"   required>
                        <div style="color: red;" *ngIf="jobForm.controls['location'].invalid &&  (jobForm.controls['location'].dirty || jobForm.controls['location'].touched)">
                            <small class="text-danger">location is required.</small>
                     </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="experience">Experience</label>
                        <input pInputText id="flows" name="flows" type="text"  placeholder="Enter Experience" [(ngModel)]="job.experience"  #experience="ngModel" required>
                        <div  *ngIf="experience.invalid &&  (experience.dirty || experience.touched)">
                            <div style="color: red" *ngIf="experience.errors">Experience is required </div>
                     </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="recruiters">Recruiter</label>
                        <p-dropdown [options]="recruiters" [(ngModel)]="selectedRecruiters" [showClear]="true" [filter]="true" placeholder="Select Recruiter" (onChange)="onRecruiterChange(selectedRecruiters)" name="recruiters" optionLabel="firstName">
                            <ng-template let-Recruiter pTemplate="item">
                                {{ Recruiter.firstName }}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="experience">Expected Notice Period</label>
                        <input pInputText id="expectedNoticePeriod" name="expectedNoticePeriod" type="text"  placeholder="Enter Expected Notice Period" [(ngModel)]="job.expectedNoticePeriod"  #expectedNoticePeriod="ngModel" required>
                        <div  *ngIf="expectedNoticePeriod.invalid &&  (expectedNoticePeriod.dirty || expectedNoticePeriod.touched)">
                            <div style="color: red" *ngIf="expectedNoticePeriod.errors">Expected Notice Period is required </div>
                     </div>
                </div>
                </div>

                <div class="ui-g-12" style="text-align: right">
                    <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                    (click)="updateJob() " label="Update"></button>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
                    routerLink="/jobs" label="Cancel"></button>
                </div>
            </form>
        </div>
    </div>
</div>
