

<div class="col-md-6 mb-3">
    <label for="department">Department</label>
    <select class="form-control" id="department" [(ngModel)]="selectedDepartments" name="department" (change)="onDepartmentChange(selectedDepartments)">
      <option *ngFor="let department of departments" [value]="department">{{ department.name }}</option>
    </select>
    <p>Selected Department: {{ selectedDepartments?.name }}</p>
  </div>

  <div class="col-md-6 mb-3">
    <label for="clients">Client Name</label>
    <select class="form-control" id="clients" [(ngModel)]="selectedClients" name="clients" (change)="onClientChange(selectedClients)">
      <option *ngFor="let client of clients" [value]="client">{{ client.companyName }}</option>
    </select>
    <p>Selected Client: {{ selectedClients?.companyName }}</p>
  </div>

  <div class="col-md-6 mb-3">
    <label for="currency">Currency</label>
    <select class="form-control" id="currency" [(ngModel)]="selectedCurrencys" name="currency" (change)="onCurrencyChange(selectedCurrencys)">
      <option *ngFor="let currency of currencys" [value]="currency">{{ currency.name }}</option>
    </select>
    <p>Selected Currency: {{ selectedCurrencys?.name }}</p>
  </div>

  <div class="col-md-6 mb-3">
    <label for="recruiters">Recruiter</label>
    <select class="form-control" id="recruiters" [(ngModel)]="selectedRecruiters" name="recruiters" (change)="onRecruiterChange(selectedRecruiters)">
      <option *ngFor="let recruiter of recruiters" [value]="recruiter">{{ recruiter.firstName }}</option>
    </select>
    <p>Selected Recruiter: {{ selectedRecruiters?.firstName }}</p>
  </div>



<!--  -->
<!--  -->

<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <form #jobForm="ngForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="title">Title</label>
              <input type="text" id="title" class="form-control" name="title" placeholder="Enter Title" [(ngModel)]="job.title" required minlength="2" maxlength="50" #title="ngModel" />
              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">Title is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="description">Description</label>
              <textarea id="description" class="form-control" name="description" placeholder="Enter Description" [(ngModel)]="job.description" required minlength="2" maxlength="100" #description="ngModel"></textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">Description is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="primarySkills">Primary Skills</label>
              <input type="text" id="primarySkills" class="form-control" name="primarySkills" placeholder="Enter Primary Skills" [(ngModel)]="job.primarySkills" required #primarySkills="ngModel" />
              <div *ngIf="primarySkills.invalid && (primarySkills.dirty || primarySkills.touched)" class="text-danger">Primary Skills is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="secondarySkills">Secondary Skills</label>
              <input type="text" id="secondarySkills" class="form-control" name="secondarySkills" placeholder="Enter Secondary Skills" [(ngModel)]="job.secondarySkills" required #secondarySkills="ngModel" />
              <div *ngIf="secondarySkills.invalid && (secondarySkills.dirty || secondarySkills.touched)" class="text-danger">Secondary Skills is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="goodToHave">Good To Have</label>
              <input type="text" id="goodToHave" class="form-control" name="goodToHave" placeholder="Enter Good To Have Skills" [(ngModel)]="job.goodToHave" required #goodToHave="ngModel" />
              <div *ngIf="goodToHave.invalid && (goodToHave.dirty || goodToHave.touched)" class="text-danger">Good To Have is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="department">Department</label>
              <select class="form-control" id="department" [(ngModel)]="selectedDepartments" name="department" (change)="onDepartmentChange(selectedDepartments)">
                <option *ngFor="let department of departments" [value]="department">{{ department.name }}</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="clients">Client Name</label>
              <select class="form-control" id="clients" [(ngModel)]="selectedClients" name="clients" (change)="onClientChange(selectedClients)">
                <option *ngFor="let client of clients" [value]="client">{{ client.companyName }}</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="openings">Openings</label>
              <input type="number" id="openings" class="form-control" name="openings" placeholder="Enter Openings" [(ngModel)]="job.openings" required min="1" #openings="ngModel" />
              <div *ngIf="openings.invalid && (openings.dirty || openings.touched)" class="text-danger">Openings is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="targetHireDate">Target Hire Date</label>
              <input type="date" id="targetHireDate" class="form-control" name="targetHireDate" [(ngModel)]="job.targetHireDate" required [min]="todayDate()" #targetHireDate="ngModel" />
              <div *ngIf="targetHireDate.invalid && (targetHireDate.dirty || targetHireDate.touched)" class="text-danger">Target Hire Date is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="currency">Currency</label>
              <select class="form-control" id="currency" [(ngModel)]="selectedCurrencys" name="currency" (change)="onCurrencyChange(selectedCurrencys)">
                <option *ngFor="let currency of currencys" [value]="currency">{{ currency.name }}</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="salaryMaximum">Salary Maximum</label>
              <input type="number" id="salaryMaximum" class="form-control" name="salaryMaximum" placeholder="Enter Max Salary" [(ngModel)]="job.salaryMaximum" required min="0" #salaryMaximum="ngModel" />
              <div *ngIf="salaryMaximum.invalid && (salaryMaximum.dirty || salaryMaximum.touched)" class="text-danger">Salary Maximum is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="type">Job Type</label>
              <!-- <select class="form-control" id="type" [(ngModel)]="job.type" name="type" (change)="onTypeChange()">
                <option *ngFor="let type of types" [value]="type.name">{{ type.name }}</option>
              </select> -->
            </div>

            <div class="col-md-6 mb-3">
              <label for="locations">Location</label>
              <input type="text" id="locations" class="form-control" name="locations" placeholder="Enter Location" [(ngModel)]="job.locations" required #locations="ngModel" />
              <div *ngIf="locations.invalid && (locations.dirty || locations.touched)" class="text-danger">Location is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="experience">Experience</label>
              <input type="text" id="experience" class="form-control" name="experience" placeholder="Enter Experience" [(ngModel)]="job.experience" required #experience="ngModel" />
              <div *ngIf="experience.invalid && (experience.dirty || experience.touched)" class="text-danger">Experience is required</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="recruiters">Recruiter</label>
              <select class="form-control" id="recruiters" [(ngModel)]="selectedRecruiters" name="recruiters" (change)="onRecruiterChange(selectedRecruiters)">
                <option *ngFor="let recruiter of recruiters" [value]="recruiter">{{ recruiter.firstName }}</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="expectedNoticePeriod">Expected Notice Period</label>
              <input type="text" id="expectedNoticePeriod" class="form-control" name="expectedNoticePeriod" placeholder="Enter Expected Notice Period" [(ngModel)]="job.expectedNoticePeriod" required #expectedNoticePeriod="ngModel" />
              <div *ngIf="expectedNoticePeriod.invalid && (expectedNoticePeriod.dirty || expectedNoticePeriod.touched)" class="text-danger">Expected Notice Period is required</div>
            </div>
          </div>

          <div class="text-right mt-3">
            <button class="btn btn-primary" type="button" (click)="updateJob()">Update</button>
            <button class="btn btn-danger" type="button" routerLink="/jobs">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>



<!--  -->

