<div class="grid">
    <div class="col-12">
        <div class="card">
            <form #jobForm="ngForm">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="title">Title<span [style.display]="job.title ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="title" name="title" type="text" ngModel required minlength="2"
                            maxlength="50" placeholder="Enter Title" [(ngModel)]="job.title" required
                            #title="ngModel" />
                        <div *ngIf="title.invalid && (title.dirty || title.touched)">
                            <div style="color: red" *ngIf="title.errors">Title is required </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="description">Description<span [style.display]="job.description ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <textarea pInputText id="description" name="description" type="text" ngModel required
                            minlength="2" placeholder="Enter Description" [(ngModel)]="job.description" required
                            #description="ngModel"></textarea>
                        <div *ngIf="description.invalid && (description.dirty || description.touched)">
                            <div style="color: red" *ngIf="description.errors">Description is required </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 field">
                        <label for="description"class="text-900 font-semibold">Description</label>
                        <p-editor id="description" [(ngModel)]="job.description" [style]="{'height':'250px'}" name="description"  #description="ngModel" required></p-editor>
                        <div *ngIf="description.invalid && (description.dirty || description.touched)">
                            <div style="color: red" *ngIf="description.errors">Description is required </div>
                        </div>
                    </div> -->
                    <div class="field col-12 md:col-6">
                        <label for="primarySkills">Primary Skills<span
                                [style.display]="job.primarySkills ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="primarySkills" name="primarySkills" type="text" ngModel required
                            placeholder="Enter PrimarySkills" [(ngModel)]="job.primarySkills" required
                            #primarySkills="ngModel" />
                        <div *ngIf="primarySkills.invalid && (primarySkills.dirty || primarySkills.touched)">
                            <div style="color: red" *ngIf="primarySkills.errors">PrimarySkills is required </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="secondarySkills">Secondary Skills<span
                                [style.display]="job.secondarySkills ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="secondarySkills" name="secondarySkills" type="text" ngModel required
                            placeholder="Enter secondarySkills" [(ngModel)]="job.secondarySkills" required
                            #secondarySkills="ngModel" />
                        <div *ngIf="secondarySkills.invalid && (secondarySkills.dirty || secondarySkills.touched)">
                            <div style="color: red" *ngIf="secondarySkills.errors">SecondarySkills is required </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="goodToHave">Good To Have<span [style.display]="job.goodToHave ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="goodToHave" name="goodToHave" type="text" ngModel required
                            placeholder="Enter GoodToHave" [(ngModel)]="job.goodToHave" required
                            #goodToHave="ngModel" />
                        <div *ngIf="goodToHave.invalid && (goodToHave.dirty || goodToHave.touched)">
                            <div style="color: red" *ngIf="goodToHave.errors">GoodToHave is required </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="department">Department<span
                                [style.display]="selectedDepartments ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <p-dropdown [options]="departments" [(ngModel)]="selectedDepartments" [showClear]="true"
                            [filter]="true" placeholder="Select Department"
                            (onChange)="onDepartmentChange(selectedDepartments)" name="department" optionLabel="name">
                            <ng-template let-Department pTemplate="item">
                                {{ Department.name }}
                            </ng-template>
                        </p-dropdown>
                        <div *ngIf="selectedDepartments === null && (jobForm.controls['department'].touched || jobForm.controls['department'].dirty)"
                            style="color: red;">Department is required</div>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="clients">Client Name<span [style.display]="selectedClients ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <p-dropdown [options]="clients" [(ngModel)]="selectedClients" [showClear]="true" [filter]="true"
                            placeholder="Select ClientName" (onChange)="onClientChange(selectedClients)" name="client"
                            optionLabel="companyName">
                            <ng-template let-Client pTemplate="item">
                                {{ Client.companyName }}
                            </ng-template>
                        </p-dropdown>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="openings">Openings<span [style.display]="job.openings ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="openings" name="openings" type="number" ngModel required min="1"
                            placeholder="Enter openings" [(ngModel)]="job.openings" #openings="ngModel">
                        <div *ngIf="openings.invalid && (openings.dirty || openings.touched)">
                            <div style="color: red" *ngIf="openings.errors">Openings is required </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="targetHireDate">Target Hire Date<span style="color: red">*</span></label>
                        <input pInputText id="targetHireDate" name="targetHireDate" type="date"
                            [(ngModel)]="job.targetHireDate" #targetHireDate="ngModel" required [min]="todayDate()">
                        <div *ngIf="targetHireDate.invalid && (targetHireDate.dirty || targetHireDate.touched)">
                            <div style="color: red" *ngIf="targetHireDate.errors">Target Hire Date is required</div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="currency">Currency<span [style.display]="selectedCurrencys ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <p-dropdown [options]="currencys" [(ngModel)]="selectedCurrencys" [showClear]="true"
                            [filter]="true" placeholder="Select Currency"
                            (onChange)="onCurrencyChange(selectedCurrencys)" name="currency" optionLabel="name">
                        </p-dropdown>
                    </div>


                    <!-- <div class="field col-12 md:col-6">
                        <label for="salaryMinimum">Salary Minimum</label>
                        <input pInputText id="salaryMinimum" name="salaryMinimum" type="number" required min="0" placeholder="Enter Min salary" [(ngModel)]="job.salaryMinimum"  #salaryMinimum="ngModel">
                        <div *ngIf="salaryMinimum.invalid && (salaryMinimum.dirty || salaryMinimum.touched)">
                            <div style="color: red" *ngIf="salaryMinimum.errors">Openings is required </div>
                        </div>
                    </div> -->
                    <div class="field col-12 md:col-6">
                        <label for="salaryMaximum">Salary Maximum<span
                                [style.display]="job.salaryMaximum ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="salaryMaximum" name="salaryMaximum" type="number" required min="0"
                            placeholder="Enter Max salary" [(ngModel)]="job.salaryMaximum" #salaryMaximum="ngModel">
                        <div *ngIf="salaryMaximum.invalid && (salaryMaximum.dirty || salaryMaximum.touched)">
                            <div style="color: red" *ngIf="salaryMaximum.errors">Openings is required </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="type">Job Type<span [style.display]="job.type ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <p-dropdown [options]="types" [(ngModel)]="job.type" #type="ngModel" [showClear]="true"
                            [filter]="true" placeholder="Select Job Type" name="type" optionLabel="name"
                            optionValue="name">
                        </p-dropdown>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="locations">Location<span [style.display]="job.locations ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="locations" name="locations" type="text" ngModel required
                            placeholder="Enter Location" [(ngModel)]="job.locations" required #locations="ngModel" />
                        <div *ngIf="locations.invalid && (locations.dirty || locations.touched)">
                            <div style="color: red" *ngIf="locations.errors">Location is required </div>
                        </div>
                    </div>

                    <!-- <div class="field col-12 md:col-6">
                        <label for="current">Location<span [style.display]="job.locations ? 'none' : 'inline'" style="color: red">*</span></label>
                        <p-dropdown [options]="locations" [(ngModel)]="job.locations" [showClear]="true" [filter]="true"
                            placeholder="Select Location" name="locations" optionLabel="name">
                        </p-dropdown>
                        <div *ngIf="!job.locations && (jobForm.controls['locations'].dirty || jobForm.controls['locations'].touched)"
                            style="color: red;">Location is Required</div>
                    </div> -->
                    <div class="field col-12 md:col-6">
                        <label for="experience">Experience<span [style.display]="job.experience ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="flows" name="flows" type="text" placeholder="Enter Experience"
                            [(ngModel)]="job.experience" #experience="ngModel" required>
                        <div *ngIf="experience.invalid &&  (experience.dirty || experience.touched)">
                            <div style="color: red" *ngIf="experience.errors">Experience is required </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="recruiters">Recruiter<span [style.display]="selectedRecruiters ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <p-dropdown [options]="recruiters" [(ngModel)]="selectedRecruiters" [showClear]="true"
                            [filter]="true" placeholder="Select Recruiter"
                            (onChange)="onRecruiterChange(selectedRecruiters)" name="recruiters"
                            optionLabel="firstName">
                            <ng-template let-Recruiter pTemplate="item">
                                {{ Recruiter.firstName }}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="experience">Expected Notice Period<span
                                [style.display]="job.expectedNoticePeriod ? 'none' : 'inline'"
                                style="color: red">*</span></label>
                        <input pInputText id="expectedNoticePeriod" name="expectedNoticePeriod" type="text"
                            placeholder="Enter Expected Notice Period" [(ngModel)]="job.expectedNoticePeriod"
                            #expectedNoticePeriod="ngModel" required>
                        <div
                            *ngIf="expectedNoticePeriod.invalid &&  (expectedNoticePeriod.dirty || expectedNoticePeriod.touched)">
                            <div style="color: red" *ngIf="expectedNoticePeriod.errors">Expected Notice Period is
                                required </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12" style="text-align: right">
                    <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check" (click)="addJob()"
                        label="Save"></button>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
                        routerLink="/jobs" label="Cancel"></button>
                </div>
            </form>
        </div>
    </div>
</div>