<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Create Job</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="firstname">Title</label>
                    <input pInputText id="firstname" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname">Description</label>
                    <input pInputText id="lastname" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="middlename">Department</label>
                    <input pInputTextarea id="middlename" rows="4" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="email">Openings</label>
                    <input pInputText id="email" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="mobile">TargetHireDate</label>
                    <input pInputText id="mobile" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="source">Currney</label>
                    <input pInputText id="source" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="hiringFlowType">SalaryMinimum</label>
                    <input pInputText id="hiringFlowType" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="location">SalaryMaximum</label>
                    <input pInputText id="location" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="availtojoin">JobType</label>
                    <input pInputText id="availtojoin" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="location">Location</label>
                    <input pInputText id="location" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="currentsalary">HiringFlow</label>
                    <input pInputText id="currentsalary" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="expectedsalary">Experience</label>
                    <input pInputText id="expectedsalary" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="currency">Candidate</label>
                    <input pInputText id="currency" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="gender">Recruiter</label>
                    <input pInputText id="gender" type="text" />
                </div>
            </div>
        
            <div class="ui-g-12" style="text-align: right">
                <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                     label="save"></button>
                <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
                     label="Cancel"></button>
            </div>
        
        </div>
    </div>
    </div>