<div class="card">
    <p-table #dt [value]="jobs" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['title','description','department','openings','targetHireDate','experience','candidates']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Global Search" class="w-full" />
                </span>
                <button (click)="navigateToCreateJob()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus" label="Add New"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title" class="white-space-nowrap" style="width:25%">Title<p-sortIcon field="title"></p-sortIcon></th>
                <th pSortableColumn="description" class="white-space-nowrap" style="width:25%">Description<p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="openings" class="white-space-nowrap" style="width:25%">Openings<p-sortIcon field="openings"></p-sortIcon></th>
                <th pSortableColumn="targetHireDate" class="white-space-nowrap" style="width:25%">targetHireDate<p-sortIcon field="targetHireDate"></p-sortIcon></th>
                <th pSortableColumn="experience" class="white-space-nowrap" style="width:25%">Experience<p-sortIcon field="experience"></p-sortIcon></th>
                <th class="white-space-nowrap" style="width:20%">Modify</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
            <tr>
                <td>{{job.title}}</td>
                <td>{{job.description}}</td>
                <td>{{job.openings}}</td>
                <td>{{job.targetHireDate}}</td>
                <td>{{job.experience}}</td>
                <td>
                    <div class="button-container">
                        <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" icon="pi pi-pencil"></button>
                        <button pButton class="p-button-sm p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                    </div>                    
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>