<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Create Recruiter</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="firstname">Firstname</label>
                    <input pInputText id="firstname" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname">Lastname</label>
                    <input pInputText id="lastname" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="email">Email</label>
                    <input pInputText id="email" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="mobile">Mobile</label>
                    <input pInputText id="mobile" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="useraccount">UserAccout</label>
                    <input pInputText id="useraccount" type="text" />
                </div>
            </div>    
            <div class="ui-g-12" style="text-align: right">
                <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                     label="save"></button>
                <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
                     label="Cancel"></button>
            </div>
        
        </div>
    </div>
    </div>