<div class="grid">
    <div class="col-12">
        <div class="card">
            <form #talentpoolForm="ngForm">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="name">Name</label>
                        <input pInputText id="name" name="name" type="text" placeholder="Enter Name"
                            [(ngModel)]="talentpool.name" required #name="ngModel" />
                        <div *ngIf="name.invalid && (name.dirty || name.touched)">
                            <div style="color: red" *ngIf="name.errors">
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <label for="description">Description</label>
                        <textarea pInputTextarea id="description" name="description" rows="4"
                            placeholder="Enter Description" [(ngModel)]="talentpool.description" required
                            #description="ngModel"></textarea>
                        <div *ngIf="
                                description.invalid &&
                                (description.dirty || description.touched)
                            ">
                            <div style="color: red" *ngIf="description.errors">
                                Description is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12" style="text-align: right">
                    <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                        (click)="addTalentPool()" label="Save"[disabled]="!talentpoolForm.valid"></button>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" type="button"
                        icon="pi pi-times" label="Cancel" [routerLink]="['/listtalentpool']"></button>
                </div>
            </form>
        </div>
    </div>
</div>