<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Create Candidate</h5>
            <form #candidateForm="ngForm">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="firstname">FirstName</label>
                    <input pInputText id="firstname" name="firstname" type="text" placeholder="Enter Firstname"
                        [(ngModel)]="candidate.firstName" required #firstname="ngModel" />
                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                        <div style="color: red" *ngIf="firstname.errors">Firstname is required </div>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="lastName">Lastname</label>
                    <input pInputText id="lastName" name="lastName" type="text" placeholder="Enter lastName"
                        [(ngModel)]="candidate.lastName" required #lastName="ngModel" />
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        <div style="color: red;" *ngIf="lastName.errors">Lastname is required</div>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="middleName">MiddleName</label>
                    <input pInputText id="middleName" name="middleName" type="text" placeholder="Enter middleName"
                        [(ngModel)]="candidate.middleName" required #middleName="ngModel" />
                    <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)">
                        <div style="color: red;" *ngIf="middleName.errors">MiddleNameis required</div>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="email">Email</label>
                    <input pInputText id="email" name="email" type="email" placeholder="Enter Email"
                        [(ngModel)]="candidate.email" required email #email="ngModel" />
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div style="color: red;" *ngIf="email.errors">Invalid email format</div>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="mobile">Mobile</label>
                    <input pInputText id="mobile" name="mobile" type="text" placeholder="Enter MobileNumber"
                        [(ngModel)]="candidate.mobile" required pattern="[0-9]*" #mobile="ngModel" />
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                        <div style="color: red;" *ngIf="mobile.errors">Mobile number is required</div>
                    </div>
                </div>
                <!-- <div class="field col-12 md:col-6">
                    <label for="hiringFlowType">HiringFlowType</label>
                    <input pInputText id="stage" name="stage" type="text"
                        placeholder="Enter HiringFlowType" [(ngModel)]="candidate.stage" required
                        #stage="ngModel" />
                    <div *ngIf="stage.invalid && (stage.dirty || stage.touched)">
                        <div style="color: red;" *ngIf="stage.errors">HiringFlowType is required</div>
                    </div>
                </div> -->

                <div class="field col-12 md:col-6">
                    <label for="taletpoll">HiringFlowType</label>
                    <p-dropdown [options]="stages" [(ngModel)]="candidate.stage" [showClear]="true" [filter]="true" placeholder="Select Stages" name="stage" optionLabel="stage">
                    </p-dropdown>
                </div>
                
                <div class="field col-12 md:col-6">
                    <label for="avialToJoin">AvailbleToJoin</label>
                    <input pInputText id="avialToJoin" name="avialToJoin" type="number"
                        placeholder="Enter avialToJoin" [(ngModel)]="candidate.avialToJoin" required
                        #avialToJoin="ngModel" />
                    <div *ngIf="avialToJoin.invalid && (avialToJoin.dirty || avialToJoin.touched)">
                        <div style="color: red;" *ngIf="avialToJoin.errors">AvailToJoin is required</div>
                    </div>
                </div>

                
                
                <div class="field col-12 md:col-6">
                    <label for="currentSalary">CurrecntSalary</label>
                    <input pInputText id="currentSalary" name="currentSalary" type="number"
                        placeholder="Enter CurrentSalary" [(ngModel)]="candidate.currentSalary" required
                        #currentSalary="ngModel" />
                    <div *ngIf="currentSalary.invalid && (currentSalary.dirty || currentSalary.touched)">
                        <div style="color: red;" *ngIf="currentSalary.errors">CurrentSalary is required</div>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="expectedSalary">ExpectedSalary</label>
                    <input pInputText id="expectedSalary" name="expectedSalary" type="number"
                        placeholder="Enter ExpectedSalary" [(ngModel)]="candidate.expectedSalary" required
                        #expectedSalary="ngModel" />
                    <div *ngIf="expectedSalary.invalid && (expectedSalary.dirty || expectedSalary.touched)">
                        <div style="color: red;" *ngIf="expectedSalary.errors">ExpectedSalary is required</div>
                    </div>
                </div>
                
                <div class="field col-12 md:col-6">
                    <label for="gender">Select Gender</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="male" name="gender"
                            [(ngModel)]="candidate.gender" value="Male" ngModel #maleGender="ngModel" required>
                        <label class="form-check-label" for="Male">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="female" name="gender"
                            [(ngModel)]="candidate.gender" value="Female" ngModel #femaleGender="ngModel" required>
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div style="color: red;" *ngIf="(maleGender.invalid || femaleGender.invalid) && ((maleGender.dirty || maleGender.touched) || (femaleGender.dirty || femaleGender.touched))">
                        <div style="color: red;">Please select a gender</div>
                    </div>
                </div>

                <!--Date of Birth field-->
            <div class="field col-12 md:col-6">
                <label for="dateOfBirth">Date Of Birth</label>
                <input pInputText id="dateOfBirth" name="dateOfBirth" type="date" [(ngModel)]="candidate.dateOfBirth"  placeholder="Select Date of Birth">
                <div style="color: red;" *ngIf="candidateForm.controls['dateOfBirth'].invalid && (candidateForm.controls['dateOfBirth'].dirty || candidateForm.controls['dateOfBirth'].touched)">
                    <small class="text-danger">Date of Birth is required.</small>
                </div>
            </div>
                

                <!-- <div class="field col-12 md:col-6">
                    <label htmlFor="skills">Skills</label>
                    <div *ngFor="let skill of candidate.skills; let i = index">
                        <div class="p-inputgroup">
                            <input pInputText id="skill{{i}}" type="text" [(ngModel)]="candidate.skills[i]" />
                            <button pButton type="button" icon="pi pi-minus" (click)="removeSkill(i)" *ngIf="i > 0"></button>
                        </div><br><br>
                    </div>
                    <button pButton type="button" icon="pi pi-plus" (click)="addSkill()">Add Skill</button>
                </div> -->
                
                
                

                
                <div class="flex flex-wrap align-items-center ,field col-12 md:col-6">
                    <label htmlFor="skills">Skills</label>
                    <p-chips [ngModel]="skills" (onRemove)="removeSkills($event)" (onAdd)="addSkills($event)" (onBlur)="addSkills()"></p-chips>
                  </div>
                

                <!-- TalentPoll  dropdown -->
                <div class="field col-12 md:col-6">
                    <label for="taletpoll">TalentPoll</label>
                    <p-dropdown [options]="talentpools" [(ngModel)]="candidate.talentPool" [showClear]="true" [filter]="true" placeholder="Select TalentPoll" name="talentPool"  optionLabel="name">
                       
                    </p-dropdown>
                    <div *ngIf="!candidate.talentPool && (candidateForm.controls['talentPool'].dirty || candidateForm.controls['talentPool'].touched)" style="color: red;">TalentPool is required</div>

                </div>

                <!-- Job  dropdown -->
                <div class="field col-12 md:col-6">
                    <label for="job">Job</label>
                    <p-dropdown [options]="jobs" [(ngModel)]="candidate.job" [showClear]="true" [filter]="true" placeholder="Select Job" name="job"  optionLabel="title">
                        
                    </p-dropdown>
                </div>
                <!-- Source dropdown -->
                <div class="field col-12 md:col-6">
                    <label for="source">Source</label>
                    <p-dropdown [options]="sources" [(ngModel)]="candidate.source" [showClear]="true" [filter]="true" placeholder="Select Source"   name="source" optionLabel="name">
     
                    </p-dropdown>
                </div>
    
                <!-- Current Location dropdown -->
                <div class="field col-12 md:col-6">
                    <label for="current">Current Location</label>
                    <p-dropdown [options]="locations" [(ngModel)]="candidate.current" [showClear]="true" [filter]="true" placeholder="Select Current Location" name="current" optionLabel="name">
                        
                    </p-dropdown>
                </div>

                <!-- Preffed Location dropdown -->
                <div class="field col-12 md:col-6">
                    <label for="Preffered">Prefferd Location</label>
                    <p-dropdown [options]="locations" [(ngModel)]="candidate.preferred" [showClear]="true" [filter]="true" placeholder="Select PrefferedLocation Location" name="prefferd" optionLabel="name">
                        
                    </p-dropdown>
                </div>
                   

            <!-- Currency dropdown -->
                <div class="field col-12 md:col-6">
                    <label for="currency">Currency</label>
                    <p-dropdown [options]="currencies" [(ngModel)]="candidate.currency" [showClear]="true" [filter]="true" placeholder="Select Currency" name="currency" optionLabel="name"></p-dropdown>
                </div>
            </div>
            

            <!--Education details-->
            <div class="grid">
                <div class="col-12">
                    <div class="card">
            <div class="field col-12 md:col-6">
                <button pButton type="button" (click)="toggleEducationFields()">Add Education Details</button>
            </div>
            
            <!-- Education fields (initially hidden) -->
            
                <div>
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                                <label for="course">Course</label>
                                <input pInputText id="course" name="course" type="text" [(ngModel)]="education.course" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="branch">Branch</label>
                                <input pInputText id="branch" name="branch" type="text" [(ngModel)]="education.branch" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="startOfCourse">StartOfCourse</label>
                                <input pInputText id="startOfCourse" name="startOfCourse" type="date" [(ngModel)]="education.startOfCourse"  placeholder="Select startOfCourse">
                                <!-- <div style="color: red;" *ngIf="education.controls['startOfCourse'].invalid && (education.controls['startOfCourse'].dirty ||education.controls['startOfCourse'].touched)">
                                    <small class="text-danger">Date of Birth is required.</small>
                                </div> -->
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="startOfCourse">EndOfCourse</label>
                                <input pInputText id=" endOfCourse" name="endOfCourse" type="date" [(ngModel)]="education.endOfCourse"  placeholder="Select  endOfCourse">
                                <!-- <div style="color: red;" *ngIf="education.controls['startOfCourse'].invalid && (education.controls['startOfCourse'].dirty ||education.controls['startOfCourse'].touched)">
                                    <small class="text-danger">Date of Birth is required.</small>
                                </div> -->
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="college">College</label>
                                <input pInputText id="college" name="college" type="text" [(ngModel)]="education.college" />
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="location">Location</label>
                                <input pInputText id="location" name="location" type="text" [(ngModel)]="education.location" />
                            </div>
                        </div>

                        <!-- Submit button -->
<div class="field col-12">
    <button pButton type="button" (click)="submitEducation()">Submit</button>
</div>

<!-- Education table -->
<div *ngIf="educationDetails.length > 0">
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Branch</th>
                <th>Start of Course</th>
                <th>End of Course</th>
                <th>College</th>
                <th>Location</th>
                <!-- <th>Edit</th>
                <th>Delete</th> -->
                <th>Modify</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let edu of educationDetails,let i=index ">
                <td>{{ edu.course }}</td>
                <td>{{ edu.branch }}</td>
                <td>{{ edu.startOfCourse }}</td>
                <td>{{ edu.endOfCourse }}</td>
                <td>{{ edu.college }}</td>
                <td>{{ edu.location }}</td>
                <td>
                    <div class="button-container">
                        <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" (click)="EditEducation(i)"  icon="pi pi-pencil"></button>
                        <button pButton class="p-button-sm p-button-rounded p-button-danger" (click)="deleteEducation(i)" icon="pi pi-trash"></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>





                    </div>
                 </div>
            </div>
            </div>


            <!--Experience details-->
            
            <div class="grid">
                <div class="col-12">
                    <div class="card">
                        <div class="field col-12 md:col-6">
                            <button pButton type="button" (click)="toggleExperienceFields()">Add Experience Details</button>
                        </div>
            
                        <!-- Experience fields (initially hidden) -->
                        <div>
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label for="company">Company</label>
                                    <input pInputText id="company" name="company" type="text" [(ngModel)]="experience.company" />
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label for="jobTitle">Job Title</label>
                                    <input pInputText id="jobTitle" name="jobTitle" type="text" [(ngModel)]="experience.jobTitle" />
                                </div>
                                <!-- <div class="field col-12 md:col-6">
                                    <label for="currentlyWorking">Currently Working</label>
                                    <input pInputText id="currentlyWorking" name="currentlyWorking" type="text" [(ngModel)]="experience.currentlyWorking" />
                                </div> -->
                                <div class="field col-12 md:col-6">
                                    <label for="dateOfJoining">DateOfJoining</label>
                                    <input pInputText id="dateOfJoining" name="dateOfJoining" type="date" [(ngModel)]="experience.dateOfJoining"  placeholder="Select DateOfJoining">
                                    <!-- <div style="color: red;" *ngIf="education.controls['startOfCourse'].invalid && (education.controls['startOfCourse'].dirty ||education.controls['startOfCourse'].touched)">
                                        <small class="text-danger">Date of Birth is required.</small>
                                    </div> -->
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label for="dateOfJoining">DateOfRelieving</label>
                                    <input pInputText id="dateOfRelieving" name="dateOfRelieving" type="date" [(ngModel)]="experience.dateOfRelieving"  placeholder="Select DateOfRelieving">
                                    <!-- <div style="color: red;" *ngIf="education.controls['startOfCourse'].invalid && (education.controls['startOfCourse'].dirty ||education.controls['startOfCourse'].touched)">
                                        <small class="text-danger">Date of Birth is required.</small>
                                    </div> -->
                                </div>
                                <div class="field col-12 md:col-6">
                                    <label for="location">Location</label>
                                    <input pInputText id="location" name="location" type="text" [(ngModel)]="experience.location" />
                                </div>
                                
                            </div>

                            <div class="field col-12">
                                <button pButton type="button" (click)="submitExceperience()">SubmitExp</button>
                            </div>
                            
                            <!-- Experience table -->
                            <div *ngIf=" experienceDetails.length > 0">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>JobTitle</th>
                                            <th>CurrentlyWokring</th>
                                            <th>DateOfJoining</th>
                                            <th>DateOfRelieving</th>
                                            <th>Location</th>
                                            <th>Modify</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let exp of  experienceDetails,let i=index">
                                            <td>{{ exp.company  }}</td>
                                            <td>{{ exp.jobTitle}}</td>
                                            <td>{{ exp.currentlyWokring}}</td>
                                            <td>{{ exp.dateOfJoining }}</td>
                                            <td>{{ exp.dateOfRelieving }}</td>
                                            <td>{{ exp.location }}</td>
                                            <td>
                                                <div class="button-container">
                                                    <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" (click)="editExperience(i)" icon="pi pi-pencil"></button>
                                                    <button pButton class="p-button-sm p-button-rounded p-button-danger" (click)="deleteExperience(i)" icon="pi pi-trash"></button>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            
                            




                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="ui-g-12" style="text-align: right">
                <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                (click)="addCandidate()" label="save"></button>
                <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
                routerLink="/candidate"  label="Cancel"></button>
            </div>
        </form>
        </div>
    </div>
    </div>