<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Create Candidate</h5>
            <form #candidateForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="firstname">Firstname</label>
                        <input pInputText id="firstName" name=" firstName" type="text" placeholder="Enter Firstname"
                            [(ngModel)]="candidate.firstName" required #firstName="ngModel" />
                        <div *ngIf="firstName.invalid && (firstName.dirty ||  firstName.touched)">
                            <div style="color: red;" *ngIf=" firstName.errors">Firstname is required</div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="lastName">Lastname</label>
                        <input pInputText id="lastName" name="lastName" type="text" placeholder="Enter lastName"
                            [(ngModel)]="candidate.lastName" required #lastName="ngModel" />
                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                            <div style="color: red;" *ngIf="lastName.errors">Lastname is required</div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="middleName">MiddleName</label>
                        <input pInputText id="middleName" name="middleName" type="text" placeholder="Enter middleName"
                            [(ngModel)]="candidate.middleName" required #middleName="ngModel" />
                        <div *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)">
                            <div style="color: red;" *ngIf="middleName.errors">MiddleNameis required</div>
                        </div>
                    </div>



                    <div class="field col-12 md:col-6">
                        <label for="email">Email</label>
                        <input pInputText id="email" name="email" type="email" placeholder="Enter Email"
                            [(ngModel)]="candidate.email" required email #email="ngModel" />
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div style="color: red;" *ngIf="email.errors">Invalid email format</div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="mobile">Mobile</label>
                        <input pInputText id="mobile" name="mobile" type="text" placeholder="Enter MobileNumber"
                            [(ngModel)]="candidate.mobile" required pattern="[0-9]*" #mobile="ngModel" />
                        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                            <div style="color: red;" *ngIf="mobile.errors">Mobile number is required</div>
                        </div>
                    </div>




                    <div class="field col-12 md:col-6">
                        <label for="source">Source</label>
                        <p-dropdown [options]="sourceOptions" [(ngModel)]="selectedSource"
                            [placeholder]="'Select Source'" name="sorce" [required]="true"></p-dropdown>
                        <div style="color: red;"
                            *ngIf="candidateForm.controls['source'].invalid && (candidateForm.controls['source'].dirty || candidateForm.controls['source'].touched)">
                            <small class="text-danger">Source is required.</small>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="hiringFlowType">HiringFlowType</label>
                        <input pInputText id="hiringFlowType" name="hiringFlowType" type="text"
                            placeholder="Enter HiringFlowType" [(ngModel)]="candidate.hiringFlowType" required
                            #hiringFlowType="ngModel" />
                        <div *ngIf="hiringFlowType.invalid && (hiringFlowType.dirty || hiringFlowType.touched)">
                            <div style="color: red;" *ngIf="hiringFlowType.errors">HiringFlowType is required</div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="hiringFlowType">HiringFlowType</label>
                        <input pInputText id="hiringFlowType" name="hiringFlowType" type="text"
                            placeholder="Enter HiringFlowType" [(ngModel)]="candidate.hiringFlowType" required
                            #hiringFlowType="ngModel" />
                        <div *ngIf="hiringFlowType.invalid && (hiringFlowType.dirty || hiringFlowType.touched)">
                            <div style="color: red;" *ngIf="hiringFlowType.errors">HiringFlowType is required</div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="currentLocation">CurrentLocation</label>
                        <p-dropdown [options]="currentLocationOptions" [(ngModel)]="selectedcurrentLocation"
                            [placeholder]="'Select CurrentLocation'" name="currentLocation"
                            [required]="true"></p-dropdown>
                        <div style="color: red;"
                            *ngIf="candidateForm.controls['currentLocation'].invalid && (candidateForm.controls['currentLocation'].dirty || candidateForm.controls['currentLocation'].touched)">
                            <small class="text-danger">CurrentLocation is required.</small>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="availToJoin">AvailToJoin</label>
                        <input pInputText id="availToJoin" name="availToJoin" type="text"
                            placeholder="Enter AvailToJoin" [(ngModel)]="candidate.availToJoin" required
                            #availToJoin="ngModel" />
                        <div *ngIf="availToJoin.invalid && (availToJoin.dirty || availToJoin.touched)">
                            <div style="color: red;" *ngIf="availToJoin.errors">AvailToJoin is required</div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="currecntSalary">CurrecntSalary</label>
                        <input pInputText id="currecntSalary" name="currecntSalary" type="text"
                            placeholder="Enter CurrecntSalary" [(ngModel)]="candidate.currecntSalary" required
                            #currecntSalary="ngModel" />
                        <div *ngIf="availToJoin.invalid && (availToJoin.dirty || availToJoin.touched)">
                            <div style="color: red;" *ngIf="currecntSalary.errors">CurrecntSalary is required</div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="expectedSalary">ExpectedSalary</label>
                        <input pInputText id="expectedSalary" name="expectedSalary" type="text"
                            placeholder="Enter ExpectedSalary" [(ngModel)]="candidate.expectedSalary" required
                            #expectedSalary="ngModel" />
                        <div *ngIf="availToJoin.invalid && (availToJoin.dirty || availToJoin.touched)">
                            <div style="color: red;" *ngIf="expectedSalary.errors">CurrecntSalary is required</div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="currency">Currency</label>
                        <p-dropdown [options]="currencyOptions" [(ngModel)]="selectedCurrency"
                            [placeholder]="'Select Currency'" name="currency" [required]="true"></p-dropdown>
                        <div style="color: red;"
                            *ngIf="candidateForm.controls['currency'].invalid && (candidateForm.controls['currency'].dirty || candidateForm.controls['currency'].touched)">
                            <small class="text-danger">Currency is required.</small>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="gender">Select Gender</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="male" name="gender"
                                [(ngModel)]="candidate.gender" value="male" ngModel #gender required>
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="female" name="gender"
                                [(ngModel)]="candidate.gender" value="female" ngModel #gender required>
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="dateOfBirth">DateOfBirth</label>
                        <input pInputText id="dateOfBirth" name="dateOfBirth" type="date" ngModel required>
                        <div style="color: red;"
                            *ngIf="candidateForm.controls['dateOfBirth'].invalid && (candidateForm.controls['dateOfBirth'].dirty || candidateForm.controls['dateOfBirth '].touched)">
                            <small class="text-danger">DateOfBirth is required.</small>
                        </div>
                    </div>



                    <div class="field col-12 md:col-6">
                        <label for="skills">SKill</label>
                        <input pInputText id="skills" name="skills" type="text" ngModel required>
                        <div style="color: red;"
                            *ngIf="candidateForm.controls['skills'].invalid && (candidateForm.controls['skills'].dirty || candidateForm.controls['skills '].touched)">
                            <small class="text-danger">Skills is required.</small>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <div>
                            <!-- <h6>Add Education details</h6> -->
                            <button pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                                label="Add Education" (click)="toggleEducationSection()"></button>
                        </div>

                        <!-- Conditionally show/hide education details section -->
                        <div *ngIf="showEducationSection">

                            <h6> Add Experience Details</h6>
                            <!-- Add your Experience form controls here -->
                            <div class="row">
                                <div class="field col-12 md:col-4">
                                    <label for="tenthClass">SSC </label>
                                    <input type="text" name="tenthClass" id="tenthClass" placeholder="School Name">
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label for="tenthLocation">Location</label>
                                    <input type="text" name="tenthLocation" id="tenthLocation"
                                        placeholder="City, State">
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label for="tenthLocation">School Name</label>
                                    <input type="text" name="tenthLocation" id="tenthLocation"
                                        placeholder="City, State">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 md:col-4">
                                    <label htmlFor="startDate">Passed Out</label>
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-calendar"></i>
                                        </span>
                                        <input type="date" pInputText formControlName="startDate"
                                            placeholder="Start of Course Date" />
                                    </div>
                                </div>
                            </div>
                        </div><br><br><br><br>
                    </div>

                </div>

















                <div class="ui-g-12" style="text-align: right">
                    <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                        (click)="addCandidate()" label="Save"></button>
                    <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" type="button"
                        icon="pi pi-times" label="Cancel"></button>
                </div>
            </form>

        </div>
    </div>
</div>