<div class="steps-container">
  <div class="step" [ngClass]="{'completed': currentStep > 0, 'active': currentStep === 0}">
    <div class="step-number">1</div>
    <div class="step-title">Sourced</div>
  </div>
  <div class="step" [ngClass]="{'completed': currentStep > 1, 'active': currentStep === 1}">
    <div class="step-number">2</div>
    <div class="step-title">Screening</div>
  </div>
  <div class="step" [ngClass]="{'completed': currentStep > 2, 'active': currentStep === 2}">
    <div class="step-number">3</div>
    <div class="step-title">Interview</div>
  </div>
  <div class="step" [ngClass]="{'completed': currentStep > 3, 'active': currentStep === 3}">
    <div class="step-number">4</div>
    <div class="step-title">Preboarding</div>
  </div>
  <div class="step" [ngClass]="{'completed': currentStep > 4, 'active': currentStep === 4}">
    <div class="step-number">5</div>
    <div class="step-title">Hired</div>
  </div>
  <div class="step" [ngClass]="{'completed': currentStep > 5, 'active': currentStep === 5}">
    <div class="step-number">6</div>
    <div class="step-title">Archived</div>
  </div>
</div>
<div class="step-content">
  <div *ngIf="currentStep === 0">
    <!-- Content for Step 0 -->
    <p>  Sourced</p>
    <button (click)="nextStep()" class="next-button">Next</button>
  </div>
  <div *ngIf="currentStep === 1">
    <!-- Content for Step 1 -->
    <p>  Screening</p>
    <button (click)="prevStep()" class="prev-button">Previous</button>
    <button (click)="nextStep()" class="next-button">Next</button>
  </div>
  <div *ngIf="currentStep === 2">
    <!-- Content for Step 2 -->
    <p>  Interview</p>
    <button (click)="prevStep()" class="prev-button">Previous</button>
    <button (click)="nextStep()" class="next-button">Next</button>
  </div>
  <div *ngIf="currentStep === 3">
    <!-- Content for Step 3 -->
    <p> Preboarding</p>
    <button (click)="prevStep()" class="prev-button">Previous</button>
    <button (click)="nextStep()" class="next-button">Next</button>
  </div>
  <div *ngIf="currentStep === 4">
    <!-- Content for Step 4 -->
    <p> Hired</p>
    <button (click)="prevStep()" class="prev-button">Previous</button>
    <button (click)="nextStep()" class="next-button">Next</button>
  </div>
  <div *ngIf="currentStep === 5">
    <!-- Content for Step 5 -->
    <p>  Archived</p>
    <button (click)="prevStep()" class="prev-button">Previous</button>
    <button (click)="complete()" class="complete-button">Complete</button>
  </div>
</div>