<div class="grid">
    <div class="col-12">
      <div class="card">
        <form #jobForm="ngForm">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
              <label for="vendor">Recruiters<span></span></label>
            <p-multiSelect [showClear]="true" [filter]="true" placeholder="Select Recruiters" name="recruiter"
            optionLabel="firstName" optionValue="id" [(ngModel)]="selectedRecruiterId" [options]="recruiters"
            [ngModelOptions]="{standalone: true}" class="multiselect-custom" display="chip">
              
            </p-multiSelect>
            </div>

            <div class="field col-12 md:col-6">
              <label for="job">Jobs<span></span></label>
              <p-multiSelect [showClear]="true" [filter]="true" placeholder="Select Jobs" name="job"
              optionLabel="title" optionValue="id" [(ngModel)]="selectedJobId" [options]="jobs"
              [ngModelOptions]="{standalone: true}" class="multiselect-custom" display="chip">
                
              </p-multiSelect>
            </div>
            <div class="ui-g-12" style="text-align: right">
              <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
              <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                      label="Assign Jobs To Recruiter" (click)="assignJobsToRecruiter()"
                      [disabled]="!selectedRecruiterId || !selectedJobId">
              </button>
              <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
                      routerLink="/jobs" label="Cancel">
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
