<div class="grid">
  <div class="col-12">
    <div class="card">
      <form #talentPoolForm="ngForm">
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:6">
            <label for="talentPoolName">Skill</label>
            <input pInputText id="talentPoolName" name="talentPoolName" type="text" placeholder="Enter Talent Pool Name"
              [(ngModel)]="talentPool.name" required #talentPoolName="ngModel" />
            <div *ngIf="talentPoolName.invalid && (talentPoolName.dirty || talentPoolName.touched)">
              <div style="color: red" *ngIf="talentPoolName.errors">Talent Pool Name is required </div>
            </div>
          </div>
          <div class="field col-12 md:6">
            <label for="talentPoolDescription">Description</label>
            <textarea pInputTextarea id="talentPoolDescription" name="talentPoolDescription" rows="5"
              placeholder="Enter Talent Pool Description" [(ngModel)]="talentPool.description" required
              #talentPoolDescription="ngModel"></textarea>
            <div
              *ngIf="talentPoolDescription.invalid && (talentPoolDescription.dirty || talentPoolDescription.touched)">
              <div style="color: red" *ngIf="talentPoolDescription.errors">Talent Pool Description is required </div>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="ui-g-12" style="text-align: right">
          <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
          <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check" (click)="updateTalentPool()"
            label="Update"></button>
          <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" type="button" icon="pi pi-times"
            label="Cancel" [routerLink]="['/listtalentpool']"></button>
        </div>
      </form>
    </div>
  </div>
</div>