<div class="card">
    <p-table #dt [value]="candidates" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['firstName','lastName','email','mobile']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter1($event)" placeholder="Global Search" class="w-full" />
                </span>
                <!-- <button (click)="toggleFilter()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-filter" label="Filter"></button> -->
                <button (click)="navigateToCreateCandidate()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus" label="Add New"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header"> 
            <tr>
                <th pSortableColumn="firstName" class="white-space-nowrap" style="width:25%">Firstname<p-sortIcon field="candidate.firstName"></p-sortIcon></th>
                <th pSortableColumn="lastName" class="white-space-nowrap" style="width:25%">Lastname<p-sortIcon field="candidate.lastName"></p-sortIcon></th>
                <th pSortableColumn="email" class="white-space-nowrap" style="width:25%">Email<p-sortIcon field="candidate.email"></p-sortIcon></th>
                <th pSortableColumn="mobile" class="white-space-nowrap" style="width:25%">Mobile<p-sortIcon field="candidate.mobile"></p-sortIcon></th>
                <th pSortableColumn="source" class="white-space-nowrap" style="width:25%">Source<p-sortIcon field="candidate.source"></p-sortIcon></th>
                <th pSortableColumn="currentLocation" class="white-space-nowrap" style="width:25%">CurrentLocation<p-sortIcon field="candidate.currentLocation"></p-sortIcon></th>
                <th pSortableColumn="preferredLocation" class="white-space-nowrap" style="width:25%">PreferredLocation<p-sortIcon field="candidate.preferredLocation"></p-sortIcon></th>
                <th pSortableColumn="availToJoin" class="white-space-nowrap" style="width:25%">AvailableToJoin<p-sortIcon field="candidate.availToJoin"></p-sortIcon></th>
                <th class="white-space-nowrap" style="width:20%">Actions</th>
                <th pSortableColumn="stage" class="white-space-nowrap" style="width:25%">Stage</th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-candidate>
            <tr>
                <td>{{candidate.firstName}}</td>
                <td>{{candidate.lastName}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.mobile}}</td>
                <td>{{candidate?.source.name}}</td>
                <td>{{candidate?.current.name}}</td>
                <td>{{candidate?.preferred.name}}</td>
                <td>{{candidate.avialToJoin}}</td>
                <td>
                    <div class="button-container">
                        <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" (click)="handleEditcandidate(candidate.id, candidate)" icon="pi pi-pencil"></button>

                        <!-- <button pButton class="p-button-sm p-button-rounded p-button-success mr-2" (click)="handleEditcandidate(candidate)" icon="pi pi-pencil"></button> -->
                        <button pButton class="p-button-sm p-button-rounded p-button-danger" (click)="candidateDelete(candidate)" icon="pi pi-trash"></button>
                    </div>
                </td>
                <td>
                    <div class="button-container">        
                        <button pButton class="p-button-sm p-button-rounded p-button-secondary" (click)="toggleStages()" icon="pi pi-ellipsis-v"></button>
                        <div class="stages-container" [ngClass]="{'show': showStages}">
                            <ul>
                                <li *ngFor="let stage of stages">{{ stage }}</li>
                            </ul>
                        </div>
                    </div>
                </td>
                
                
                
        </ng-template>
    </p-table>
</div>

