<div class="grid">
<div class="col-12">
    <div class="card">
        <h5>Create Candidate</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label htmlFor="firstname">Firstname</label>
                <input pInputText id="firstname" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="lastname">Lastname</label>
                <input pInputText id="lastname" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="middlename">Middle Name</label>
                <input pInputTextarea id="middlename" rows="4" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="email">Email</label>
                <input pInputText id="email" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="mobile">Mobile</label>
                <input pInputText id="mobile" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="source">Source</label>
                <input pInputText id="source" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="hiringFlowType">HiringFlowType</label>
                <input pInputText id="hiringFlowType" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="location">Current Location</label>
                <input pInputText id="location" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="availtojoin">Avail To Join</label>
                <input pInputText id="availtojoin" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="location">Preferred Location</label>
                <input pInputText id="location" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="currentsalary">Current Salary</label>
                <input pInputText id="currentsalary" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="expectedsalary">Expected Salary</label>
                <input pInputText id="expectedsalary" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="currency">Currency</label>
                <input pInputText id="currency" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="gender">Gender</label>
                <input pInputText id="gender" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="dateofbirth">Date Of Birth</label>
                <input pInputText id="dateofbirth" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="skills">Skills</label>
                <input pInputText id="skills" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="experience">Experience</label>
                <input pInputText id="experience" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="education">Education</label>
                <input pInputText id="education" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="talentpoll">Talent Poll</label>
                <input pInputText id="talentpoll" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="job">Job</label>
                <input pInputText id="job" type="text" />
            </div>
        </div>
        <!-- <div class="col-12">
            <button style="margin-left: 10px;" pButton pRipple label="Save" class="w-auto mt-3"></button>
        </div> -->
        <div class="ui-g-12" style="text-align: right">
            <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
            <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
                 label="save"></button>
            <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
                 label="Cancel"></button>
        </div>
    
    </div>
</div>
</div>